.sign-in-and-sign-up {
  padding: 50px 0 0 0;
  width: 950px;
  display: flex;
  justify-content: space-between;
  margin: 30px auto;

  @media screen and (max-width: 1050px) {
    width: 800px;
  }
  @media screen and (max-width: 900px) {
    display: block;
    width: 75%;
  }
}