.cart-icon {
  width: 45px;
  height: 45px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  @media screen and (max-width: 350px) {
    width: 30px;
    height: 30px;
  }

  .shopping-icon {
    width: 24px;
    height: 24px;
    @media screen and (max-width: 350px) {
      width: 15px;
      height: 15px;
    }
  }

  .item-count {
    position: absolute;
    font-size: 10px;
    font-weight: bold;
    bottom: 12px;
    @media screen and (max-width: 350px) {
      font-size: 8px;
      bottom: 8px;
    }
  }
}
