.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
  padding: 30px 0 0 0;
  font-family: 'Roboto Condensed';

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 5px 0 0 0;
    margin-left: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }
  }
}
