.how-to-order-page {
  display: flex;
  flex-direction: column;
  padding: 20px 80px;
  text-align: center;

  @media screen and (max-width: 550px) {
    font-size: 13px;
  }

  .title {
    font-size: 38px;
    margin: 0 auto 30px;
  }

  .content {
    padding: 20px;
  }
}
